@{
    var title = string.Empty;
    if(Metadata.ContainsKey("title"))
    {
        title += Metadata["title"] + " &raquo "; 
    }
    
    title += @Context.String("SiteTitle");
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.Raw(title)</title>
    <link rel="icon" href="@Context.GetLink("/assets/img/favicon.ico")" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href="@Context.GetLink("/assets/css/master.css")" rel="stylesheet" />
    <link href="@Context.GetLink("/assets/css/style.css")" rel="stylesheet" />
    @Html.Partial("_Scripts")
</head>