@{
	Layout = "/_Master.cshtml";
    
    var previousPost = Documents["Posts"]
        .OrderBy(x => x["PostFile"])
        .TakeWhile(x => x["PostFile"] != Metadata["PostFile"])
        .LastOrDefault();
    var lastPost = Documents["Posts"]
        .OrderByDescending(x => x["PostFile"])
        .TakeWhile(x => x["PostFile"] != Metadata["PostFile"])
        .LastOrDefault();
}

<h1 class="page-title post-title">
    <div class="page-title__text post-title__text">@Metadata["Title"]</div>
    <div class="page-title__subtitle post-title__subtitle">--- @($"{Metadata.Get<DateTime>("Date"):dd MMMM yyyy}") ---</div>
    <div class="page-title__subtitle post-title__subtitle">
        @if(previousPost != null)
        {
            <div style="float: left;"> 
                <a href="@Context.GetLink((string)previousPost["PostFile"])">&larr; @previousPost["Title"]</a>
            </div> 
        }
        @if(lastPost != null)
        {
            <div style="float: right;"> 
                <a href="@Context.GetLink((string)lastPost["PostFile"])">@lastPost["Title"] &rarr;</a>
            </div> 
        }
    </div>
</h1>

<div class="content">
    <p><img src="@Metadata["Image"]" alt="" height="250px" /></p>

    <ul>
        @{
            var caught = (string)Metadata.Get("Caught");
        }
        @if(!string.IsNullOrWhiteSpace(caught) && caught != @Metadata["Title"].ToString())
        {
            <li>Attrapé : @caught</li>
        }
        <li>Numéro : @Metadata["Number"]</li>
        <li>@Metadata["Location"]</li>
        <li>Niveau : @Metadata["Level"]</li>
        <li>Version : @Metadata["Version"]</li>
        <li>Méthodes : @Metadata["Category"]</li>
    </ul>

    @RenderBody()
</div>