---
title: Statistiques
---

@{
    var nbDocs = @Documents["Posts"].Count();
}

<h2>Méthode</h2>

<dl>
@{
    var categories = Documents["Posts"].Select<IDocument, string>(x => (string)x["Category"]).Distinct().OrderBy(x => x);
    foreach(var category in categories)
    {
        var count = @Documents["Posts"].Count(x => ((string)x["Category"]) == category);
        var percent = count * 1000 / nbDocs;
        var countString = $"({count})".PadLeft(4, ' ');
        <dd class="percentage percentage-@percent"><span class="text">@category @countString</span></dd>
    }
}
</dl>

<h2>Version</h2>

<dl>
@{
    var versions = Documents["Posts"].Select(x => (string)x["Version"]).Distinct().OrderBy(x => x);
    foreach(var version in versions)
    {
        var count = @Documents["Posts"].Count(x => (string)x["Version"] == version);
        var percent = count * 1000 / nbDocs;
        var countString = $"({count})".PadLeft(4, ' ');
        <dd class="percentage percentage-@percent"><span class="text">@version @countString</span></dd>
    }
}
</dl>

<h2>Année</h2>

<dl>
@{
    var years = Documents["Posts"].Select(x => DateTime.Parse((string)x["Date"]).Year).Distinct().OrderByDescending(x => x);
    foreach(var year in years)
    {
        var count = @Documents["Posts"].Count(x => DateTime.Parse((string)x["Date"]).Year == year);
        var percent = count * 1000 / nbDocs;
        var countString = $"({count})".PadLeft(4, ' ');
        <dd class="percentage percentage-@percent"><span class="text">@year @countString</span></dd>
    }
}
</dl>

<h2>Meilleurs mois</h2>

<dl>
@{

    var months  = @Documents["Posts"]
        .GroupBy(x => DateTime.Parse((string)x["Date"]).ToString("MMMM yyyy"))
        .OrderByDescending(x => x.Count())
        .Select(x => new {key = x.Key, count = x.Count()});

    foreach(var month in months.Take(5))
    {
        var percent = month.count * 10;
        var countString = $"({month.count})".PadLeft(4, ' ');
        <dd class="percentage percentage-@percent"><span class="text">@month.key @countString</span></dd>
    }
}
</dl>

<h2>Ball</h2>

<dl>
@{
    var balls = Documents["Posts"].Select(x => (string)x["Ball"]).Distinct().OrderBy(x => x);
    foreach(var ball in balls)
    {
        var count = @Documents["Posts"].Count(x => (string)x["Ball"] == ball);
        var percent = count * 1000 / nbDocs;
        var countString = $"({count})".PadLeft(4, ' ');
        <dd class="percentage percentage-@percent"><span class="text"><span id="icon__@ball" class="pkspr pokeball-@ball custom-pkspr-ball"></span> @countString</span></dd>
        <script type="text/javascript">PkSpr.decorate('icon__@ball');</script>
    }
}
</dl>