---
notitle: 
---

@{
    var catchedPokemon = @Documents["Posts"].Select(x => x.Get("Number")).Distinct();
}

<h1 class="page-title">
    <div class="page-title__text">Table de capture</div>
    <div class="page-title__subtitle">Cible potentielle : <script type="text/javascript">randomizeNextTarget()</script></div>
</h1>

<ul class="pokemonlist">
    @{
        var groupedPokemons = (Documents["PokemonJson"].First().ToList().First().Value as System.Collections.Generic.List<dynamic>)
            .GroupBy(x => x.group);
    }

    @foreach(var pokemons in groupedPokemons)
    {
        <h1>@pokemons.Key</h1>
        foreach(var pokemon in pokemons)
        {
            if(catchedPokemon.Contains($"{pokemon?.number ?? string.Empty}"))
            {
                var post = @Documents["Posts"].First(x => x.Get("Number").ToString() == pokemon.number.ToString());
                <li class="catched"><a title="@pokemon.name" href="@Context.GetLink(post)">@pokemon.number.ToString().PadLeft(4, ' ')</a></li>
            }
            else
            {
                <li>@pokemon.number.ToString().PadLeft(4, ' ')</li>
            }
        }
    }
</ul>  