---
NoTitle:
---

@{
    IEnumerable<PostData> catchedPokemon = Context.GetPosts();
}

<div class="page-title">
    <div class="page-title__text">Hauts faits</div>
</div>

@foreach (Groups group in new[] { Groups.Starter, Groups.SubLegendary, Groups.RestrictedLegendary, Groups.Mythical, Groups.Fossil, Groups.Pikalike, Groups.Eevee, Groups.Regi, Groups.UltraBeast, Groups.Paradox, Groups.FakeRegional })
{
    IEnumerable<Pokemon> pokemons = Pokemon.GetAll(group);
    <h1>@group.GetDescription() (@pokemons.Count(x => catchedPokemon.Any(p => p.Number == x.Number))/@pokemons.Count())</h1>
    <div class="container">
        @foreach (Pokemon pokemon in pokemons)
        {
            var icon = Context.GetLink($"/assets/img/icons/{pokemon.PaddedNumber}.png");
            var post = catchedPokemon.FirstOrDefault(p => p.Number == pokemon.Number);
            if (post != null)
            {
                <a title="@pokemon.Name" href="@Context.GetLink("/")@post.WritePath">
                    <img class="pokemon-icon" src="@icon" loading="lazy" alt="Image of captured shiny @pokemon.Name">
                </a>
            }
            else
            {
                <img class="pokemon-icon not-catched" src="@icon" title="@pokemon.Name" loading="lazy" alt="Image of shiny @pokemon.Name">
            }
        }
    </div>
}
