@{
    Layout = "/_Master.cshtml";

    IList<PostData> posts = Context.GetPosts();
    PostData post = new PostData(Model);
    var postIndex = Context.GetPosts().IndexOf(post);
    var lastPost = postIndex - 1 >= 0 ? posts[postIndex - 1] : null;
    var previousPost = postIndex + 1 < posts.Count ? posts[postIndex + 1] : null;
}

<div class="page-title post-title">
    <div class="page-title__text post-title__text">@post.Name</div>
    <div class="page-title__subtitle post-title__subtitle">@($"{post.CatchDate:dd MMMM yyyy}")</div>
    <div class="page-title__subtitle post-title__subtitle">
        @if (previousPost != null)
        {
            <span style="float: left;">
                <a href="@Context.GetLink("/")@previousPost.WritePath">&larr; @previousPost.Name</a>
            </span>
        }
        @if (lastPost != null)
        {
            <span style="float: right;">
                <a href="@Context.GetLink("/")@lastPost.WritePath">@lastPost.Name &rarr;</a>
            </span>
        }
    </div>
</div>

<div class="content">
    <p><img src="@post.Image" alt="" width="900" class="post-image"/></p>

    <ul>
        @{
            var ballImage = Context.GetLink($"/assets/img/balls/{post.Ball.ToString().ToLowerInvariant()}.png");
        }
        @if (!string.IsNullOrWhiteSpace(post.CaughtAs) && post.CaughtAs != post.Name)
        {
            <li><strong>Attrapé :</strong> @post.CaughtAs</li>
        }
        <li><strong>Numéro :</strong> @post.Number</li>
        <li><strong>Rencontré :</strong> @post.Location</li>
        <li><strong>Niveau :</strong> @post.Level</li>
        <li><strong>Version :</strong> @post.Version.GetDescription()</li>
        <li><strong>Méthode :</strong> @post.Category.GetDescription()</li>
        <li><strong>Ball :</strong> <img class="ball-icon" src="@ballImage" alt="@post.Ball.GetDescription()" title="@post.Ball.GetDescription()" /></li>
    </ul>

    @RenderBody()
</div>

@section Scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        $(this).keydown(function(evt) {
            evt = evt || window.event;
            switch (evt.keyCode) {
                @if (previousPost != null)
                    {
                <text>
                case 37:
                    window.location = '@Context.GetLink("/")@(previousPost.WritePath)';
                    break;
                </text>
                    }
                        @if (lastPost != null)
                    {
                <text>
                case 39:
                    window.location = '@Context.GetLink("/")@(lastPost.WritePath)';
                    break;
                    </text>
                    }
                }
        });
    });

    </script>
}
