@{
    Layout = "/_Master.cshtml";

    var previousPost = Context.Outputs.FromPipeline(nameof(Posts))
        .OrderBy(x => x[CustomKeys.Date])
        .ThenBy(x => x[CustomKeys.Number])
        .TakeWhile(x => x[CustomKeys.WritePath] != Model[CustomKeys.WritePath])
        .LastOrDefault();
    var lastPost = Context.Outputs.FromPipeline(nameof(Posts))
        .OrderByDescending(x => x[CustomKeys.Date])
        .ThenByDescending(x => x[CustomKeys.Number])
        .TakeWhile(x => x[CustomKeys.WritePath] != Model[CustomKeys.WritePath])
        .LastOrDefault();
}

<h1 class="page-title post-title">
    <div class="page-title__text post-title__text">@Model[CustomKeys.Title]</div>
    <div class="page-title__subtitle post-title__subtitle">@($"{Model.Get<DateTime>(CustomKeys.Date):dd MMMM yyyy}")</div>
    <div class="page-title__subtitle post-title__subtitle">
        @if (previousPost != null)
        {
            <div style="float: left;">
                <a href="@Context.GetLink("/")@((string)previousPost[CustomKeys.WritePath])">&larr; @previousPost[CustomKeys.Title]</a>
            </div>
        }
        @if (lastPost != null)
        {
            <div style="float: right;">
                <a href="@Context.GetLink("/")@((string)lastPost[CustomKeys.WritePath])">@lastPost[CustomKeys.Title] &rarr;</a>
            </div>
        }
    </div>
</h1>

<div class="content">
    <p><img src="@Model[CustomKeys.Image]" alt="" /></p>

    <ul>
        @{
            var caught = (string)Model.Get(CustomKeys.Caught);
            var ball = (string)Model.Get(CustomKeys.Ball);
            var ballImage = Context.GetLink($"/assets/img/balls/{ball}.png");
        }
        @if (!string.IsNullOrWhiteSpace(caught) && caught != @Model[CustomKeys.Title].ToString())
        {
            <li>Attrapé : @caught</li>
        }
        <li>Numéro : @Model[CustomKeys.Number]</li>
        <li>@Model[CustomKeys.Location]</li>
        <li>Niveau : @Model[CustomKeys.Level]</li>
        <li>Version : @Model[CustomKeys.Version]</li>
        <li>Méthodes : @Model[CustomKeys.Category]</li>
        <li>Ball : <img class="ball-icon" src="@ballImage" alt="@ball" title="@ball"/></li>
    </ul>

    @RenderBody()
</div>

@section Scripts {
    <script type="text/javascript">

    $(document).ready(function () {
        $(this).keydown(function(evt) {
            evt = evt || window.event;
            switch (evt.keyCode) {
                @if (previousPost != null)
                    {
                <text>
                case 37:
                    window.location = '@Context.GetLink("/")@((string)previousPost[CustomKeys.WritePath])';
                    break;
                </text>
                    }
                        @if (lastPost != null)
                    {
                <text>
                case 39:
                    window.location = '@Context.GetLink("/")@((string)lastPost[CustomKeys.WritePath])';
                    break;
                    </text>
                    }
                }
        });
    });

    </script>
}
