@{
    IList<PostData> caughtPokemon = Context.GetPosts();
}

<ul class="list-posts">
    @(await Html.PartialAsync("_PostTeaser", caughtPokemon[0]))
    @(await Html.PartialAsync("_PostTeaser", caughtPokemon[1]))
    @(await Html.PartialAsync("_PostTeaser", caughtPokemon[2]))
</ul>

<hr>

<div class="container">
    @foreach (var pokemon in caughtPokemon)
    {
        var currentPokemon = Pokemon.Get(pokemon.Number);
        var icon = Context.GetLink($"/assets/img/icons/{currentPokemon.PaddedNumber}.png");
        var isMultiple = !string.IsNullOrWhiteSpace(pokemon.ImageSuffix);
        <a title="@currentPokemon.Name" href="@Context.GetLink("/")@pokemon.WritePath">
            <img class="pokemon-icon @(isMultiple ? "duplicate-shiny" : "")" src="@icon" loading="lazy" alt="Image of captured shiny @pokemon.Name">
        </a>
    }
</div>
