@{
    var catchedPokemon = Context.Outputs[nameof(Posts)].OrderByDescending(x => x.Get(CustomKeys.Date)).ThenByDescending(x => x.Get(CustomKeys.Number));
    var lastPokemons = catchedPokemon.Take(2).ToList();
}

<ul class="list-posts">
    @Html.Partial("_PostTeaser", lastPokemons[0])
    @Html.Partial("_PostTeaser", lastPokemons[1])
</ul>

<hr>

<ul class="pokemonlist">

    @foreach (var pokemon in catchedPokemon)
    {
        var currentPokemon = Pokemon.Get(pokemon.GetString(CustomKeys.Number));
        <li>
            <a title="@currentPokemon.Name" href="@Context.GetLink("/")@pokemon[CustomKeys.WritePath]">
                <span class="pkspr @currentPokemon.PokeSpriteClass color-shiny"></span>
            </a>
        </li>
    }
</ul>

<script type="text/javascript">PkSpr.process_dom();</script>