@{
    IList<PostData> catchedPokemon = Context.GetPosts();
}

<ul class="list-posts">
    @Html.Partial("_PostTeaser", catchedPokemon[0])
    @Html.Partial("_PostTeaser", catchedPokemon[1])
</ul>

<hr>

<div class="container">
    @foreach (var pokemon in catchedPokemon)
    {
        var currentPokemon = Pokemon.Get(pokemon.Number);
        <a title="@currentPokemon.Name" href="@Context.GetLink("/")@pokemon.WritePath">
            <img class="pokemon-icon" src="@pokemon.Icon">
        </a>
    }
</div>
