@{
    var catchedPokemon = Context.Outputs.FromPipeline(nameof(Posts)).OrderByDescending(x => x.Get(CustomKeys.Date)).ThenByDescending(x => x.Get(CustomKeys.Number));
    var lastPokemons = catchedPokemon.Take(2).ToList();
}

<ul class="list-posts">
    @Html.Partial("_PostTeaser", lastPokemons[0])
    @Html.Partial("_PostTeaser", lastPokemons[1])
</ul>

<hr>

<div class="container">
    @foreach (var pokemon in catchedPokemon)
    {
        var currentPokemon = Pokemon.Get(pokemon.GetString(CustomKeys.Number));
        <a title="@currentPokemon.Name" href="@Context.GetLink("/")@pokemon[CustomKeys.WritePath]">
            <img class="pokemon-icon" src="@pokemon[CustomKeys.Icon]">
        </a>
    }
</div>
