---
NoTitle:
---

@{
    IEnumerable<PostData> caughtPokemon = Context.GetPosts();
}

<div class="page-title">
    <div class="page-title__text">Familles</div>
</div>

<div class="container">
    @foreach (IGrouping<double, Pokemon> pokemonSpecies in Pokemon.GetAll().GroupBy(p => p.SpeciesNumber))
    {
        <div class="family-bloc">
            @foreach (var pokemon in pokemonSpecies.OrderBy(p => p.Number != p.SpeciesNumber.ToString()))
            {
                var icon = Context.GetLink($"/assets/img/icons/{pokemon.PaddedNumber}.png");
                var post = caughtPokemon.FirstOrDefault(p => p.Number == pokemon.Number);
                if (post != null)
                {
                    <a title="@pokemon.Name" href="@Context.GetLink("/")@post.WritePath">
                        <img class="pokemon-icon" src="@icon" loading="lazy" alt="Image of captured shiny @pokemon.Name">
                    </a>
                }
                else
                {
                    <img class="pokemon-icon not-caught" src="@icon" title="@pokemon.Name" loading="lazy" alt="Image of shiny @pokemon.Name">
                }
            }
        </div>
    }
</div>
